app-toppings, app-rabbits {
    top: -18vw;
}

app-bowl {
    top: 4vw;
    left: -17vw;
}

app-toppings, app-bowl, app-rabbits, app-timer, button, app-order, h2, #round, h4, h5, h6, #music, audio, #banner {
    position: relative;
}

app-timer, #round {
    left: 23vw;
    top: -30vw;
    font-size: 4vw;
}

#round {
    font-size: 3vw;
}

button {
    top: -30vw;
    left: 12vw;
    font-size: 3vw;
    background-color: white;
    width: 19vw;
    max-width: 19vh;
    height: 8vw;
    max-height: 8vh;
}

#banner {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 94vw;
    max-width: 94vh;
    top: -21vw;
    font-size: 3vw;
}

button:hover {
    background-color: #FFD7D7;
    color: white;
    cursor: pointer;
}

#new {
    visibility: hidden;
    left: 31vw;
}

#musiclabel {
    top: -30vw;
    left: 15vw;
    font-size: 2vw;
}

audio {
    width: 20vw;
    height: 3vw;
    max-width: 20vh;
    max-height: 3vh;
    top: -22vw;
    left: -10vw;
}



@media screen and (min-width: 100vh) {
    button {
        left: 12vh;
    }
    
    button, #round {
        font-size: 3vh;
        top: -30vh;
    }

    app-timer {
        font-size: 4vh;
        top: -30vh;
    }

    #musiclabel {
        font-size: 2vh;
        top: -30vh;
        left: 15vh;
    }

    audio {
        top: -22vh;
        left: -10vh;
    }

    #banner {
        top: -21vh;
        font-size: 3vh;
    }

    app-toppings, app-rabbits {
        top: -18vh;
    }

    app-bowl {
        top: 4vh;
        left: -17vh;
    }

    app-timer, #round {
        left: 23vh;
    }

    #new {
        left: 31vh;
    }
}