#ordertxt {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 92vw;
    max-width: 92vh;
    padding: 5px;
    font-size: 3.5vw;
}

@media screen and (min-width: 100vh) {
    #ordertxt {
        font-size: 3.5vh;
    }
}