img {
    width: 11.6vw;
    height: 11.6vw;
    max-width: 11.6vh;
    max-height: 11.6vh;
    display: inline;
    border: 1px solid rgba(0,0,0,0)
}

img:hover {
    border: 1px dotted rgb(124, 86, 86);
}