img {
    width: 45vw;
    height: 45vw;
    max-width: 45vh;
    max-height: 45vh;
    top: 5vw;
    left: -22.5vw;
    position: absolute;
}

div {
    width: 45vw;
    height: 45vw;
    max-width: 45vh;
    max-height: 45vh;
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid white;
}

@media screen and (min-width: 100vh) {
    img {
        top: 5vh;
        left: -22.5vh;
    }
}