/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("assets/bkg.png");
    background-repeat: repeat;
    color: rgb(124, 86, 86);
    font-family: "font";
}

button, a {
    color: rgb(124, 86, 86);
    font-family: "font";
}

@font-face {
    font-family: font;
    src: url("assets/font7.otf");
  }